extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Cori Mims

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I am a customer service representative for The Home Depot. 
            | In my current position, I assist customers by analyzing and learning about their current project, 
            | researching cost-effective ways to help them reach their goals, and finally executing the agreed-upon plan of action. 
            | My approach to web development is much of the same process. 
            | I have a passion for learning different technologies and using them to create innovative solutions.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Node.js
          li Express.js
          li React
          li SQL
          li HTML
          li SASS
        h6 Contact Info

        ul
          li 470-358-4787
          li cdmims21@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/cori-mims-77989237/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/cdmims23', target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  