extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Cori Mims

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Node.js
          li Express.js
          li React
          li SQL
          li HTML
          li CSS
        h6 Contact Info

        ul
          li 470-358-4787
          li cdmims21@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/cori-mims-77989237/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/cdmims23', target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  