extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Cori Mims

        p.lead.text-light
          | Junior Web Developer.

        .portfolio-bio
          p
            |Hello, my name is Cori. 
            |I am currently working on finishing my degree in computer science. 
            |In the meantime, I am looking for opportunities to utilize and enhance the skills that I am learning. 
            |My skillset includes React.js and SCSS on the front end, and SQL, Express.js, Python, and Django on the back end. 
            |I am a curious person. I am always seeking ways to broaden my horizons. 
            |I developed a passion for software development because it’s a breeding ground for creativity and innovation, 
            |and there is still more knowledge to gain and new problems to solve.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Node.js
          li Express.js
          li React
          li SQL
          li HTML
          li SCSS
          li Python
          li Django
        h6 Contact Info

        ul
          li 470-358-4787
          li cdmims21@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/cori-mims-77989237/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/cdmims23', target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  